@font-face {
    font-family: SigmarOne;
    src: url("/fonts/SigmarOne-Regular.ttf");
}

#creators {
    color: green;
    font-family: SigmarOne;
    font-size: 2em;
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 0;
    text-align: center;
}

#display {
    background-color: black;
    cursor: url("/sprites/crosshair.png") 36 36, move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#main {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#menu {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nickname {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;
}

#roomcode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    width: 15em;
}

#settings {
    display: none;
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

#title {
    color: red;
    font-family: SigmarOne;
    font-size: 10em;
    padding-bottom: 0;
    padding-top: 1em;
    margin: 0;
    text-align: center;
}

button {
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;
}
