@font-face {
    font-family: OpenDyslexic;
    src: url("/fonts/OpenDyslexic-Regular.otf");
}

@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: SigmarOne;
    src: url("/fonts/SigmarOne-Regular.ttf");
}

@keyframes rainbow {
    0% {
        text-shadow: -1px -1px 5px #ff0000, -1px 1px 5px #ff0000, 1px 1px 5px #ff0000, 1px -1px 5px #ff0000;
    }

    17% {
        text-shadow: -1px -1px 5px #ffff00, -1px 1px 5px #ffff00, 1px 1px 5px #ffff00, 1px -1px 5px #ffff00;
    }

    33% {
        text-shadow: -1px -1px 5px #00ff00, -1px 1px 5px #00ff00, 1px 1px 5px #00ff00, 1px -1px 5px #00ff00;
    }

    50% {
        text-shadow: -1px -1px 5px #00ffff, -1px 1px 5px #00ffff, 1px 1px 5px #00ffff, 1px -1px 5px #00ffff;
    }

    67% {
        text-shadow: -1px -1px 5px #0000ff, -1px 1px 5px #0000ff, 1px 1px 5px #0000ff, 1px -1px 5px #0000ff;
    }

    83% {
        text-shadow: -1px -1px 5px #ff00ff, -1px 1px 5px #ff00ff, 1px 1px 5px #ff00ff, 1px -1px 5px #ff00ff;
    }

    100% {
        text-shadow: -1px -1px 5px #ff0000, -1px 1px 5px #ff0000, 1px 1px 5px #ff0000, 1px -1px 5px #ff0000;
    }
}

#ammo {
    position: absolute;
    z-index: 2;
}

#creators {
    color: green;
    font-family: SigmarOne;
    font-size: 2em;
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 0;
    text-align: center;
    user-select: none;
}

#display {
    background-color: black;
    cursor: url("/sprites/crosshair.png") 36 36, move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dyslexia {
    font-family: "OpenDyslexic";
}

.dyslexia * {
    font-family: "OpenDyslexic";
}

#killfeed {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    height: 25%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 2;
}

.killfeedEntry {
    align-self: flex-end;
    background-color: #ffe6cc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    float: right;
    height: fit-content;
    margin-top: 10px;
    overflow: hidden;
    width: fit-content;
}

.killfeedMethod {
    display: inline-block;
    height: 2em;
    vertical-align: middle;
    width: auto;
}

.killfeedName {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 32em;
    overflow: hidden;
}

#main {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#main div {
    background-color: white;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5in;
    padding: 16px;
    width: 25%;
}

#menu {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

#nametags {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-shadow: -1px -1px 5px white, -1px 1px 5px white, 1px 1px 5px white, 1px -1px 5px white;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 1;
}

#nickname {
    background-color: #ebebeb;
    border-radius: 1em;
    border-width: 0;
    margin-bottom: 0.25in;
    padding: 8px;
    text-align: center;
    width: calc(100% - 16px);
}

#play {
    background-color: #ebebeb;
    border-radius: 1em;
    border-width: 0;
    padding: 8px;
    width: 100%;
}

.rainbow {
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#scoreboard {
    height: 0.5in;
    left: 12.5%;
    position: absolute;
    top: calc(calc(100% - 0.5in) - 2px);
    width: 75%;
    z-index: 2;
}

#scoreboard * {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: none;
    text-align: center;
}

#scoreboard #green {
    background-color: #2d961d;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% / 3);
}

#scoreboard #red {
    background-color: #ff1209;
    height: 100%;
    left: calc(calc(100% / 3) * 2);
    position: absolute;
    top: 0;
    width: calc(100% / 3);
}

#scoreboard #timer {
    background-color: lightgray;
    height: 100%;
    left: calc(100% / 3);
    position: absolute;
    top: 0;
    width: calc(100% / 3);
}

#title {
    color: red;
    font-family: SigmarOne;
    font-size: 10em;
    padding-bottom: 0;
    padding-top: 0.25em;
    margin: 0;
    text-align: center;
    user-select: none;
}

body {
    font-family: "OpenSans", sans-serif;
}

button {
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;
}
